.Generator {
  text-align: center;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  overflow: scroll;
  margin: 0;
}

body {
  background: black;
  margin: 0;
}

header {
  margin-bottom: 30px;
  color: white;
}

button {
  padding: 20px 30px;
  border: none;
  background: red;
  color: white;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}
button:hover {
  opacity: 0.7;
}

.grid-container {
  margin: 30px 0 120px;
}

.grid-row {
  width: 100%;
  display: flex;
}

.Block {
  width: calc(100vw / 45);
  height: calc(100vw / 45);
  color: #f0f0f0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.active {
  opacity: 1;
}
.hasDoor:after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  bottom: -3px;
  width: 60%;
  height: 27%;
  background-image: url("./images/door.png");
  background-size: cover;
  z-index: 1000;
}
.hasDoor.down:after {
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}
.hasDoor.up:after {
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
}
.hasDoor.right:after {
  right: -11px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}
.hasDoor.left:after {
  left: -11px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.room {
  background-image: url("./images/dungeon-tile-black.png");
}

.enterance {
  background-image: url("./images/dungeon-tile-2.png");
}

.hallway {
  background-image: url("./images/dungeon-tile-hall.png");
}

.hallway.bend {
  background-image: url("./images/dungeon-hall-bend.png");
}

.hallway.bend.left-down {
  transform: rotate(90deg);
}
.hallway.bend.down-left {
  transform: rotate(-90deg);
}
.hallway.bend.right-up {
  transform: rotate(-90deg);
}
.hallway.bend.up-right {
  transform: rotate(90deg);
}
.hallway.bend.up-left {
  transform: rotate(180deg);
}
.hallway.bend.right-down {
  transform: rotate(180deg);
}
.hallway.right-right,
.hallway.left-left {
  transform: rotate(90deg);
}

.numberPlaceholder {
  font-size: 8px;
  color: rgb(90, 90, 90);
}

.room-number {
  font-size: 26px;
  font-weight: 600;
  color: black;
}

.wall {
  position: absolute;
  z-index: 200;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.wall.up,
.wall.down {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("./images/wall-side.png");
  background-size: cover;
  background-position: center center;
}

.wall.left,
.wall.right {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("./images/wall-up.png");
  background-size: cover;
  background-position: center center;
}

.wall.up {
  width: 100%;
  height: 3px;
  top: 0;
}
.wall.down {
  width: 100%;
  height: 3px;
  bottom: 0;
}
.wall.left {
  height: 100%;
  width: 3px;
  left: 0;
}
.wall.right {
  height: 100%;
  width: 3px;
  right: 0;
}

.corner {
  width: 5px;
  height: 5px;
  background-image: url("./images//corner.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 230;
}
.corner.up-right {
  top: -2px;
  right: -2px;
}
.corner.up-left {
  top: -2px;
  left: -2px;
}
.corner.down-left {
  bottom: -2px;
  left: -2px;
}
.corner.down-right {
  bottom: -2px;
  right: -2px;
}
